@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* color palette from <https://github.com/vuejs/theme> */
  :root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
  }

  /* semantic color variables for this project */
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
  }

  body {
    min-height: 100vh;
    background: var(--color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg border;
    @apply bg-white text-gray-900 hover:bg-gray-50;
  }

  .btn-ghost {
    @apply btn border-0;
  }
}
